[submodule "ResearchKit"]
	path = ResearchKit
	url = https://github.com/ResearchKit/ResearchKit.git
[submodule "AppCore"]
	path = AppCore
	url = https://github.com/ResearchKit/AppCore.git
[submodule "Bridge-iOS-SDK"]
	path = Bridge-iOS-SDK
	url = https://github.com/Sage-Bionetworks/Bridge-iOS-SDK.git
